{#
/**
 * @file
 * Default theme implementation for the Open ReadSpeaker webreader.
 *
 * Available variables:
 * - button_attributes: HTML attributes for the webreader link.
 * - url: The request URL to init the reading process.
 * - button_text: Text of the webreader button.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'rsbtn_play',
  ]
%}
<div class="open-readspeaker-webreader">
  <div id="readspeaker_button" class="rs_skip rsbtn rs_preserve">
    <a rel="nofollow" href="{{ url }}"{{ button_attributes.addClass(classes)|without('rel', 'href') }}>
      <span class="rsbtn_left rsimg rspart">
        <span class="rsbtn_text">
          <span>{{ button_text }}</span>
        </span>
      </span>
      <span class="rsbtn_right rsimg rsplay rspart"></span>
    </a>
  </div>
</div>
